@media only screen and (max-width: 450px) {
	.header-top{
		text-align: center;
	}
	.responsive{
		text-align: center;
	}
	.header-area{
		text-align: center;
		display: none;
	}
	.navbar{
        display: inline-block;
    }
    .single-service-item, .single-project-item, .single-team-item{
		margin-bottom: 20px;
    }
}